In [2]:
import pandas as pd

pd.Series te permite crear lo siguiente:

In [5]:
pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

Como vemos, nos da un índice para cada elemento de la lista que por defecto empieza en 0. Sin embargo, podemos darle el índice que deseemos solo con indicarlo:

In [7]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'], index = [1,7,10,30])
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

Y como es común, los archivos json contienen información en diccionarios. Por lo tanto, será útil conocer esta forma de generar un panda Series:

In [10]:
dict = {1:'Navas', 7:'Mbappe',10:'Neymar',30:'Messi'}
dict

{1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}

In [11]:
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

Ahora, podemos acceder a los elementos de Series por los índices, pero solo tendremos los índices que se ingresaron. Veamos:

In [12]:
psg_players[1]

'Navas'

In [13]:
psg_players[2]

KeyError: 2

En la realidad trabajemos con matrices, por lo que veremos un ejemplo de ese tipo:

In [16]:
dict = {
    'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
    'Altura': [183.0, 170.0, 170.0, 165.0],
    'Goles': [2, 200, 200, 200]
}

Y ahora usamos pd.DataFrame para ver la magia. Empezaremos por no poner el index:

In [18]:
pd.DataFrame(dict)

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   170.0    200
3   Messi   165.0    200

Vemos que el índice siempre empieza en cero, si ahora le agregamos el índice empieza y serán como deseamos:

In [19]:
df_Players = pd.DataFrame(dict, index = [1, 7, 10, 30])
df_Players

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

Bien, podemos acceder a toda la información de este dataframe. Veamos:

In [20]:
df_Players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [21]:
df_Players.index

Int64Index([1, 7, 10, 30], dtype='int64')

Veamos un ejemplo final:

In [22]:
dict_player = {
    'Jugador':['Luis Suárez','Jorge Molina', 'Antonio Puertas', 'Germán Sánchez', 'Luis Milla', 'Luís Manuel Arantes Maximiano'],
    'Posición':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],
    'Número':[9, 23, 10, 6, 5, 1],
    'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0],
    'Goles':[7, 7, 5, 2, 2, 0]
}
dict_player

{'Jugador': ['Luis Suárez',
  'Jorge Molina',
  'Antonio Puertas',
  'Germán Sánchez',
  'Luis Milla',
  'Luís Manuel Arantes Maximiano'],
 'Posición': ['Delantero',
  'Delantero',
  'Centrocampista',
  'Defensa',
  'Centrocampista',
  'Portero'],
 'Número': [9, 23, 10, 6, 5, 1],
 'Altura': [185.0, 187.0, 185.0, 187.0, 175.0, 190.0],
 'Goles': [7, 7, 5, 2, 2, 0]}

In [25]:
table_df = pd.DataFrame(dict_player)
table_df

                         Jugador        Posición  Número  Altura  Goles
0                    Luis Suárez       Delantero       9   185.0      7
1                   Jorge Molina       Delantero      23   187.0      7
2                Antonio Puertas  Centrocampista      10   185.0      5
3                 Germán Sánchez         Defensa       6   187.0      2
4                     Luis Milla  Centrocampista       5   175.0      2
5  Luís Manuel Arantes Maximiano         Portero       1   190.0      0

In [26]:
table_df.columns

Index(['Jugador', 'Posición', 'Número', 'Altura', 'Goles'], dtype='object')

In [28]:
table_df.index

RangeIndex(start=0, stop=6, step=1)