In [1]:
import numpy as np
import pandas as pd

Consideremos un diccionario con ciertos valores NaN y None:

In [2]:
dict = {
    'Col1':[1,2,3,np.nan],
    'Col2':[4,np.nan,6,7],
    'Col3':['a','b','c',None]
}

Ingresémoslo en un dataframe:

In [3]:
df = pd.DataFrame(dict)

In [4]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

La función isnull() nos indicará con True o False si alguno de los elementos es nulo:

In [5]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

En Ciencia de Datos es muy común multiplicar por 1 para obtener valores de 1 y 0:

In [6]:
df.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

Podemos usar la función fillna para llenar esos nulos:

In [7]:
df.fillna('Missing')

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

Una manera que tenemos de manejar estos valores nulos es cambiando el valor nulo por por ejemplo la madia de los valores, lo cual se hace para que estos valores no afecten a la tendencia de los datos:

In [8]:
df.fillna(df.mean())

C:\Users\Aaron\AppData\Local\Temp\ipykernel_4496\634187881.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean())

   Col1      Col2  Col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None

Otra manera de evitar esto es que permitir que la máquina interpole por nosotros. Esto solo es recomendado cuando los datos están bien estructurados. Veamos:

In [9]:
df.interpolate()

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

Otra alternativa es simplemente eliminar esos registros:

In [10]:
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c